fieldset {
    width: 10%;
}

select[name = "from"]{
    margin-bottom: 15px;
    float: left;
    width: auto;
}

select[name = "to"] {
    float: right;
}

form p {
    clear: both;
}

.aviso {
    margin: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: red;
    border: 2px solid red;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: blue;
}